<link rel="stylesheet" type="text/css" href="stylesheets/event.css">
<body>


<div class="first-block7">
    <p class="eventlabel">
    イベント
    </p>
</div>
<div class="first-block7_1">
    <p class="spring">
    ４月
    </p>
</div>
<div class="first-block7_2">
    <%= image_tag "bus.jpg", class: "event-picture1" %>
    <%= image_tag "sinkan.jpg", class: "event-picture2" %>
</div>
<div class="first-block7_3">
    <p class="springdetail1">
    福富町ツアー　Byふくふく
    </p>
    <p class="springdetail2">
    <br>毎年４月にふくふく主催の福富町ツアーが行われます。
    <br>バスを１台貸し切り、福富町スポットを２か所巡ります🚌
    <br>みんなで話しながら福富町の自然を感じてみませんか？
    </p>
</div>
<div class="second-block7_1">
    <p class="august">
    ８月
    </p>
</div>
<div class="second-block7_2">
    <%= image_tag "hanabi.png", class: "event-picture3" %>
    <%= image_tag "syakunageko.jpg", class: "event-picture4" %>
    <%= image_tag "hanabi.png", class: "event-picture5" %>
</div>
<div class="second-block7_3">
    <p class="augustdetail1">
    しゃくなげ湖納涼花火大会
    <br>In 道の駅湖畔の里福富
    </p>
    <p class="augustdetail2">
    昨年第１回目が開催された地域のおまつり🎆
    <br>普段はただのダムですが
    <br>この夜だけは特別な場所に…
    <br>１５００発の花火とともに
    <br>素敵な夏のひと時を過ごしましょう✨
    </p>
</div>
<div class="third-block7_1">
    <p class="september">
    ９月
    </p>
</div>
<div class="third-block7_2">
    <%= image_tag "fes1.jpg", class: "event-picture6" %>
    <%= image_tag "fes2.jpg", class: "event-picture7" %>
    <%= image_tag "fes3.jpg", class: "event-picture8" %>
</div>
<div class="third-block7_3">
    <p class="septemberdetail1">
    アクアフェスタ
    <br>In 道の駅湖畔の里福富
    </p>
    <p class="septemberdetail2">
    ２日間で２７０００人が来場する
    <br>地域の最大のおまつり
    <br>ふくふくは「あいがもレース」を担当。
    <br>たくさんの出店や小さな水族館、展示等
    <br>きっとわくわくが見つかるはず
    <br>国土交通省より水資源功績者表彰を受賞しました。
    </p>
</div>

<footer>	
</footer>
</body>