<link rel="stylesheet" type="text/css" href="stylesheets/facility.css">
<body>
  
<!--  コンテンツを一旦仮置きする  -->
  <div class="first-block2">
    <p class="facilitylabel">
      施設
    </p>
  </div>
  <div class="second-block2">
    <div class="box">
    <%= image_tag "facility1.jpg", class: "facility-picture1" %>
    <p class="mitinoekiname">道の駅湖畔の里福富</p>
    </div>
    <p class="mitinoeki">
      国道３７５号の道の駅であり、広島道の駅ランキング１位✨
    <br>福富ダムの人造湖であるしゃくなげ湖に面しており、
    <br>展望台からしゃくなげ湖と福富ダムのほか賀茂台地を
    <br>一望することができます。
    <br>また、キャンプ場や大規模の遊具等、家族連れの方に
    <br>嬉しい施設も充実しています！
    </p>
  </div>
  <div class="second-block3">
    <div class="border5">
    </div>
    <p class="fukkudetail">
      福と富からフック＆トミーと名付けました。
    <br>フックの頭には同町名産のエゴマの葉、
    <br>トミーにはシャクナゲの花が乗っています。
    <br>トミーが持っている旗には、道の駅で人気の
    <br>パンやソフトクリームのイラストが
    <br>入っています。
    </p>
    <%= image_tag "fukku.jpg", class: "facility-picture2" %>
    <div class="border6">
    </div>
  </div>
  <div class="third-block3">
    <div class="box2">
    <%= image_tag "miyabi.jpg", class: "facility-picture3" %>
    <p class="miyabiname">酵素風呂～雅～</p>
　　</div>
    <p class="miyabidetail">
    発酵熱を利用して身体を芯から温める酵素風呂を体験できます。
    <br>自然薬草と国産蜂蜜の恵みが生きている、こだわりの自家製酵素を
    <br>ふんだんに使ったお風呂です。
    <br>疲労回復や美肌効果に期待できます🎵
    <br>落ち着いたひと時を過ごしませんか？？
    <br>手ぶらOKで、予約必須です。
    <br>１回２５００円～
    <br>TEL：０９０－１１８４－７７９８
    </p>
  </div>
  <div class="interview">
    <div class="interview_photo">
    <%= image_tag "miyabikanban.jpg", class: "facility-picture33" %>
    <%= image_tag "okiyamasan.jpg", class: "facility-picture34" %>
    </div>
    <div class="interview_title">
      酵素風呂～雅～のオーナー　沖田勝美さんにインタビューしました！
    </div>
    <div class="interview_comment">
    酵素風呂をはじめたきっかけは交通事故がきっかけ。
    <br>交通事故に遭った時は、思考回路が０になるほど苦しい日常を送っていました。
    <br>しかし酵素風呂に入ったことで、気分が楽になったそう。
    <br>自衛隊、バイク屋さん、コンサル、保険などの多くの仕事をご経験した後、
    <br>酵素風呂をはじめました。
    <br>当時は奥様と離婚してでもやる気があったそうです。
    <br>なぜなら、自分が楽しいと感じることをやるべきだと考えていたから。
    <br>わたしにも、この強い思いを熱く語ってくださいました。
    <br>そんな強い思いを持った沖田さんが、水が綺麗な福富町で経営する酵素風呂～雅～
    <br>ぜひお越しください。
    </div>
  </div>

    
  </div>
  <div class="forth-block3">
    <div class="box3">
    <%= image_tag "cadore.jpg", class: "facility-picture4" %>
    <p class="cadorename">カドーレ</p>
　　</div>
    <p class="cadoredetail">
    牧場の搾りたてミルクで作ったジェラートやチーズ、
    <br>スイーツと、動物との触れ合いが楽しめる体験農場です。
    <br>場内のショップやカフェでは新鮮ミルクから作ったジェラート・焼きたてピザが人気です🎵
    <br>動物へのエサやり体験もできます🐄
    <br>TEL:０８２－４３０－１３８１
    </p>
  </div>
  <div class="forth-block4">
    <%= image_tag "usi.jpg", class: "facility-picture5" %>
    <%= image_tag "hituzi.jpg", class: "facility-picture5" %>
  </div>
  <div class="forth-block5">
  <div class="example">
    <hr>
  </div>
  <p class="animal">
    かわいい動物たちがあなたを待っています！
  </p>
  <div class="example2">
    <hr>
  </div>
  </div>
<!--  コンテンツはここまで  -->

  <footer>	
  </footer>
</body>