<link rel="stylesheet" type="text/css" href="stylesheets/fukufuku.css">

<body>
<div class="first-block10">
    <p class="fukufukulabel">ふくふく</p>
</div>
<div class="second-block10">
    <p class="fukufukuname">学生まちおこし団体ふくふく</p>
    <p class="fukufukudetail1">福富町を中心に活動する広島大学生まちおこし団体です。</p>
    <%= image_tag "fukufukurogo1.jpg", class: "fukufuku-picture1" %>
</div>
<div class="second-block10_2">   
    <p class="fukufukudetail2">
発足：
<br>２０１５年３月
<br> 
<br>結成きっかけ：
<br>東広島市立久芳小学校でのアイガモ農法の授業のお手伝い
<br>→福富町の方々の温かさに触れる
<br> 
<br>モットー：
<br>・福富町と学生を繋ぐ架け橋のような存在に
<br>・メンバーのやりたいことをやる
<br> 
<br>メンバー：
<br>現役メンバー１４人とOBOGの方々約２０名
<br> 
<br>活動実績：
<br>・あいがもレースinアクアフェスタ
<br>・福富町ツアー
<br>・東広島市のイベント出店
<br>・ゆかたまつり、大学祭の出店
<br>・福富町の方々のお手伝い
<br>・企業様との連携 etc…
</p>

<a href="https://www.bing.com/ck/a?!&&p=b125431a936ee514JmltdHM9MTcxNzQ1OTIwMCZpZ3VpZD0wN2ZjYzBlZC0yMTQ5LTY2MTYtMmNhMy1kMTk3MjAzMzY3MzEmaW5zaWQ9NTMxNA&ptn=3&ver=2&hsh=3&fclid=07fcc0ed-2149-6616-2ca3-d19720336731&psq=%e5%ad%a6%e7%94%9f%e3%81%be%e3%81%a1%e3%81%8a%e3%81%93%e3%81%97%e5%9b%a3%e4%bd%93%e3%81%b5%e3%81%8f%e3%81%b5%e3%81%8f&u=a1aHR0cHM6Ly90d2l0dGVyLmNvbS9mdWt1ZnVrdWh1a3U&ntb=1">
    <%= image_tag "x.jpg", class: "fukufuku-picture2" %>
</a>

<a href="https://www.bing.com/ck/a?!&&p=dcc8758251747403JmltdHM9MTcxNzQ1OTIwMCZpZ3VpZD0wN2ZjYzBlZC0yMTQ5LTY2MTYtMmNhMy1kMTk3MjAzMzY3MzEmaW5zaWQ9NTI0NQ&ptn=3&ver=2&hsh=3&fclid=07fcc0ed-2149-6616-2ca3-d19720336731&psq=%e5%ad%a6%e7%94%9f%e3%81%be%e3%81%a1%e3%81%8a%e3%81%93%e3%81%97%e5%9b%a3%e4%bd%93%e3%81%b5%e3%81%8f%e3%81%b5%e3%81%8f%e3%80%80&u=a1aHR0cHM6Ly93d3cuaW5zdGFncmFtLmNvbS9mdWt1ZnVrdV8yMDkv&ntb=1">
    <%= image_tag "instagram.webp", class: "fukufuku-picture3" %>
</a>

<p class="follow">クリックしてフォローお願いします～！</p>
<p class="follow2">
ふくふくの日常
メンバー紹介
などなど発信しています。
</p>
</div>

<div class="third-block10_1">
    <%= image_tag "race1.jpg", class: "fukufuku-picture4" %>
    <%= image_tag "race2.jpg", class: "fukufuku-picture5" %>
</div>

<div class="third-block10_1_1">
    <p class="racedetail1">
    ・あいがもレース
    </p>
    <p class="racedetail2">
    ふくふくは第１回目アクアフェスタからレース企画を開催し、毎年貢献しています！
    </p>
</div>

<div class="third-block10_2">
    <%= image_tag "miso.jpg", class: "fukufuku-picture6" %>
    <%= image_tag "gakusai.jpg", class: "fukufuku-picture7" %>
</div>

<div class="third-block10_2_1">
    <p class="misodetail1">
    ・福富町の方々のお手伝いと大学祭での出店
    </p>
    <p class="misodetail2">
    味噌作りのお手伝いをしました。（左）
    <br>その後できあがった味噌を使って
    <br>大学祭で豚汁を販売しました。（右）
    </p>
</div>
<footer>	
</footer>
</body>