<%= stylesheet_link_tag 'new', :media => "all" %>

<header>
  <p class="kouryuu">
  удЈт»їућ║сЂ«С║║сЂеС║цТхЂсЂЌсѓѕсЂє№╝Ђ
  </p>
  <a href="http://localhost:3000/towns" class="btn-style-link10">сЃЏсЃ╝сЃа</a>
  <a href="http://localhost:3000/towns/new" class="btn-style-link11">Тќ░УдЈТіЋуе┐</a>
</header>

<div class="post-container">
 <div class=newpost>
  РЌђ Тќ░УдЈТіЋуе┐ РќХ
  </div>
 <div class=newpost_detail>
  удЈт»їућ║сЂФсЂцсЂёсЂдсЂ«уќЉтЋЈсђЂУѕѕтЉ│сЂїтЄ║сЂЪсЂЊсЂесѓњтЁ▒ТюЅсЂЌсѓѕсЂє­ЪїЪ
  <br>удЈт»їућ║сЂ«Тќ╣сЂІсѓЅУ┐ћС┐АсЂїТЮЦсѓІсЂЊсЂесѓѓсЃ╗сЃ╗сЃ╗№╝Ъ
  </div>

<%= form_for @town do |f| %>
  <div class="field10">
    <br>
    <%= f.label :ТіЋуе┐тєЁт«╣ %>
    <br>
    <%= f.text_field :about,size: "30x5" %>
    <!--<%= f.text_area :about, class: "hoge", size: "50x5" %>-->
    <br>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  
  <button type="submit_tag" class="btn btn--orange btn--radius">ТіЋуе┐сЂЎсѓІ</button>
  <!--<a href="submit"value="ТіЋуе┐сЂЎсѓІ"> class="btn btn--orange btn--radius">SUBMIT</a>-->
  <!--<%= f.submit "ТіЋуе┐сЂЎсѓІ" %>-->
  <br>
<% end %>

<!--<%= link_to "ТіЋуе┐СИђУдДсЂФТѕ╗сѓІ", towns_index_path %>-->
</div>